<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff List</title>
  </head>
  <body style="display: flex; column-gap: 26px">
    {% for staff in all_staff %}
    <div>
      <p>Name: {{staff.name}}</p>
      <p>Age: {{staff.age}}</p>
      <p>role: {{staff.role}}</p>
      <p>employee_id: {{staff.employee_id}}</p>
      <p>password: {{staff.password}}</p>
    </div>
    {% endfor %}
  </body>
</html>
