<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student List</title>
  </head>
  <body style="display: flex; column-gap: 26px">
    {% for student in all_students %}
    <div>
      <p>Name: {{student.name}}</p>
      <p>Age: {{student.age}}</p>
      <p>role: {{student.role}}</p>
      <p>school_id: {{student.school_id}}</p>
      <p>password: {{student.password}}</p>
    </div>
    {% endfor %}
  </body>
</html>
