#root {
  max-width: 128rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  align-items: center;
  background-color: #343434;
  display: flex;

  height: 4.8rem;
  justify-content: space-between;
  position: relative;
}
.main-nav-list {
  display: flex;
  gap: 3.2rem;

  list-style-type: none;

  margin: 0 2.4rem;
}
.main-nav {
  /* align-content: space-between; */
  /* align-items: center; */

  display: flex;
  justify-items: center;

  row-gap: 2rem;
}
.supplementary-nav-list {
  display: flex;
  gap: 3.2rem;

  list-style-type: none;
  margin: 0 2.4rem;
}

.link {
  text-decoration: none;
}
/* ************ */
/* Words */
/* ************ */
h1 {
  padding: 1rem;
  margin: 1rem;
}
.category-item {
  list-style: none;
}
