<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/index.js'%}"></script>
    <title>Django Pokemon Picker</title>
  </head>
  <body>
    <h1>{{type}}</h1>
    <div class="pokemon_sprites">
      {%for pokemon in sprite_urls %}
      <!-- <img class="pokemon_sprite" src="{{pokemon}}" /> -->
      <a class="pokemon_sprite" href="https://www.google.com">link</a>
      {%endfor%}
    </div>
  </body>
</html>
