<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
    <script>
      const createJeff = () => {
        axios
          .post('/signup', {
            username: 'jeffbezos6',
            password: 'dragons',
          })
          .then((response) => {
            console.log('response', response);
          });
      };
    </script>
  </head>
  <body>
    <p>Youve visited this page {{count}} times, since {{start_time}}.</p>
    <!-- <label for="username">Username:</label><input name="username" />
    <label for="password">Password:</label>
    <input name="password" /> -->
    <button onclick="createJeff()">Submit</button>
  </body>
</html>

<!-- <a href={% url 'signup' %}>Sign up</a> -->
